*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0f0f0f;
}

.chat-app{
width:900px;
height:600px;
display:flex;
background:#1e1e1e;
border-radius:15px;
overflow:hidden;
}

/* Sidebar */
.sidebar{
width:250px;
background:#111;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:20px;
}

.contact{
padding:10px;
border-radius:8px;
margin-bottom:10px;
cursor:pointer;
}

.contact:hover{
background:#333;
}

.contact.active{
background:#444;
}

/* Chat Section */
.chat-section{
flex:1;
display:flex;
flex-direction:column;
background:#222;
}

.chat-header{
padding:15px;
background:#2a2a2a;
}

.chat-messages{
flex:1;
padding:15px;
overflow-y:auto;
display:flex;
flex-direction:column;
gap:10px;
}

/* Messages */
.message{
max-width:65%;
padding:10px;
border-radius:15px;
position:relative;
font-size:14px;
cursor:pointer;
}

.sent{
background:#4caf50;
align-self:flex-end;
color:white;
}

.received{
background:#444;
align-self:flex-start;
color:white;
}

.time{
font-size:10px;
opacity:0.7;
margin-top:5px;
}

/* Typing */
.typing{
font-style:italic;
opacity:0.7;
}

/* Input */
.chat-input{
display:flex;
padding:15px;
background:#2a2a2a;
}

.chat-input input{
flex:1;
padding:10px;
border:none;
border-radius:20px;
outline:none;
}

.chat-input button{
margin-left:10px;
padding:10px 15px;
border:none;
border-radius:20px;
background:#4caf50;
color:white;
cursor:pointer;
}
